.degree {
    &__times {
        width: 130px;
    }
    &__title {
        font-size: 20px;
        width: 200px;
    }
    &__form {
        height: 115px;
        align-items: center;    
    }
    &__number {
        margin-bottom: 20px; 
        margin-right: 20px;
    }

    @media (max-width: 930px) {
        .degree__form {
            height: 160px;
        }
    }

    @media (max-width: 549px) {
      .degree__form {
        height: 320px;
      }
    }

    .degree__title {
        width: 170px;
        font-size: 20px;
    }
}