body {
    background: rgba(20, 0, 247, 0.63);
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.block {
    &__title {
        font-family: 'Josefin Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
        border-radius: 10px;
        background: rgba(13, 0, 165, 0.61);
        box-shadow: 0px 15px 0px #0D00A5;
        width: 390px;
        height: 37px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }

    &__form {
        padding: 15px 35px 15px 40px;
        display: flex;
        justify-content: space-between;
        height: 60px;
        margin: 0 auto;
        align-items: center;
        background: rgba(35, 24, 165, 0.51);
        box-shadow: 0px 15px 0px #0D00A5;
        border-radius: 10px;
    }

    &__text-result {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: #FFFFFF;
    }

    &__result {
        font-size: 30px;
        padding-left: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #FFFFFF;
    }

    &__input, &__button {
        font-size: 30px;
        font-family: 'Roboto Condensed', sans-serif;
        width: 230px;
        height: 50px;
        background: #FFFFFF;
        box-shadow: 0px 10px 0px #D9D9D9;
        border: none;
        color:  #000000;
        border-radius: 10px;
        padding-left: 14px;
        cursor: pointer;

    }

    &__input:focus {
        outline: none;
    }

    &__container {
        max-width: 1300px;
        padding: 0 30px;
        margin: 0 auto;
        display: block;
    }

    &__input {
        margin-right: 10px;
    }

    @media (max-width: 1200px) {
        .block__input {
            width: 220px;
        }
        .block__button {
            width: 150px;
        }
    }

    @media (max-width: 1025px) {
        .block {
            &__input {
                width: 180px;
                font-size: 22px;
            }
            &__button, &__text-result {
                font-size: 25px;
            }
            &__title {
                font-size: 13px;
            }
            &__result {
                padding-right: 0;
            }
        }
    }

    @media (max-width: 930px) {
        .block {
            &__input {
                width: 145px;
                font-size: 20px;
                padding: 1;
                margin-bottom: 10px;
            }
            &__button {
                width: 120px;
                font-size: 20px;
                padding: 0;
            }
            &__form {
                height: 130px;
                align-items: center;
            }
        }
    }

    @media (max-width: 729px){
        .block__form {
            min-width: 470px;
            margin: 0 auto;
        }
    }

    @media (max-width: 670px){
        .block {
            &__form {
                min-width: 278px;
                margin: 0 0px;
                margin-right: 0;
            }
            &__title {
                min-width: 200px;
            }
        }
    }

    @media (max-width: 669px){
        .block {
            &__form {
                min-width: 278px;
                margin: 0 0px;
                margin-right: 0;
            }
            &__title {
                min-width: 200px;
                width: 330px;
         
            }
            &__container {
                margin: 0 auto;
            }
        }
    }

    @media (max-width: 549px){
        .block {
            &__form {
                height: 260px;
                display: block; 
                align-items: center;
                text-align: center;
        
            }
            &__input {
                width: 328px;
                font-size: 25px;
            }
            &__button {
                width: 344px;
                margin-left: -10px;
                margin-top: 20px;
                font-size: 25px;
            }
            &__body {
                padding: 0;
            }
        }
    }

    @media (max-width: 460px){
        &__form {
            border-radius: 0;
        }
        &__button {
            width: 270px;
        }
        &__input {
            width: 254px;
        }
        &__container {
            padding: 0px;
        }
    }
}