.sqrt {
    &__form__right {
        display: flex;
        align-items: center;
    }

    @media (max-width: 930px) {
        .sqrt__form {
            &__right {
                display: block;
                align-items: center;
            }

            &__left {
                display: block;
                align-items: center;
            }
        }
    }

    @media (max-width: 549px) {
        .sqrt__number {
            margin-bottom: 5px;
        }
    }
}